<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</head>
<body>
    <script>
        $(document).ready(function (event) {

            $("#loginBtn").click(function (event) {
                event.preventDefault();
                window.location.href = "/signin";
            });
        });
    </script>
    <div id="login" class="modal-dialog jumbo">
        <div class="modal-content round">
            <div class="modal-header authHeader">
                <h1 class="authTitle">Task Master</h1> 
            </div>
            <div class="authBody">
                <form name="signup" id="modalForm signup" method="POST" action="signup">
                    <div class="form-group inputField">
                        <label for="firstName" class="inputText" for="uid-input">First Name:</label>
                        <input name="firstName" type="text" class="form-control inputText" id="firstName-input" placeholder="Enter your first name">
                    </div>
                    <div class="form-group inputField">
                        <label for="lastName" class="inputText" for="uid-input">Last Name:</label>
                        <input name="lastName" type="text" class="form-control inputText" id="lastName-input" placeholder="Enter your last name">
                    </div>
                    <div class="form-group inputField">
                        <label for="email" class="inputText" for="uid-input">E-mail:</label>
                        <input name="email" type="email" class="text form-control inputText" id="email-input" placeholder="Enter your e-mail address">
                    </div>
                    <div class="form-group inputField">
                        <label for="password" class="inputText" for="pass-input">Password:</label>
                        <input name="password" type="password" class="form-control inputText" id="pass-input" placeholder="Enter a password">
                    </div>
                    <div>
                        <div class="row">
                            <div class="mx-auto">
                                <input class="btn btn-lg btn-primary border border-0 authModalLoginBtn" type="submit" value="Sign Up" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
                <div class="authFooter">
                    <button id="loginBtn" class="btn btn-block border border-0 authModalRegisterBtn" data-dismiss="modal">Already have an account? Click here to Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>