<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <p>
            <strong>ID</strong>: {{task.id}}</p>
          <p>
          <p>
            <strong>Title</strong>: {{task.title}}</p>
          <p>
            <strong>Description:</strong> {{task.description}}</p>
            <button id="delete" style="color: red" > Delete </button><br>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document
    .getElementById("delete")
    .addEventListener("click", function(e) {
      console.log("clicked")
      fetch("/api/tasks/{{task.id}}", { method: "DELETE" })
        .then(function(res) {
          window.location = "/";
        })
        .catch(function(err){
          console.error(err);
          window.location = "/";
        });
  });
</script>