.list-group-item {
  line-height: 2.5;
}
/* * {
  border: red solid 1px;
} */
body {
  /* background-color: #D5D5D5; */
  background-color: #9099A2;
  font-family: 'Baloo', cursive;
}
.jumbo {
  background-color: #D5D5D5;
  font-family: 'Baloo', cursive;
}
.jumboIndex {
  background-color: #6D7993;
  font-family: 'Baloo', cursive;
}
.jumboHeader{
  max-height: 45px;
}
.indexLogoutBtn {
    background-color: #9099A2;
    color: black;
    font-weight: bold;
    width: 110px;
    border-radius: 18px;
    cursor: pointer;
}
.indexLogoutBtn:hover {
background-color: #96858F;
        color: black;
        font-weight: bold;
        width: 110px;
        margin-right: 0px;
        border-radius: 18px;
        cursor: pointer;
}
.round {
  border-radius: 20px;
}
.blue {
  color: rgb(0, 0, 255);
}
.roundAuth {
  background-color: #9099A2;
}
.inputField {
  margin-top: 25px;
  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;
  width: 85%;
}
.inputText {
  font-weight: 500;
  font-size: 20px;
}
.authTitle {
  font-weight: 300;
  font-size: 48px;
  color: black;
  text-align: center;
} 
.indexTitle {
  font-weight: 300;
  font-size: 48px;
  color: black;
  text-align: center;
} 
.indexMotto {
  font-weight: 300;
  font-size: 18px;
  color: black;
  text-align: center;
}
.authFormText {
 font-size: 36 px;
  color: black;
  text-align: center;
}
.authBody {
  border-color: black;
  border-style: solid;
  border-width: 0px 5px 0px 5px;
  padding-bottom: 25px;
  background-color: #D5D5D5;
 }

.authHeader {
  background-color: #6D7993;
  text-align: center;
  display: block;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 30px;
  padding-top: 10px;
  max-height: 80px;
  border-radius: 20px 20px 0px 0px;
  border-color: black;
  border-style: solid;
  border-width: 5px 5px 0px 5px;
}

.authFooter {
  background-color: #6D7993;
   height: 60px;
   border-radius: 0px 0px 20px 20px;
   border-color: black;
   border-style: solid;
   border-width: 0px 5px 5px 5px;
}
.authModalLoginBtn {
    background-color: #6D7993;
            color: black;
            font-weight: bold;
            width: 110px;
            margin-right: 0px;
            border-radius: 18px;
            cursor: pointer;
}
.authModalLoginBtn:hover {
  background-color: #96858F;
          color: black;
          font-weight: bold;
          width: 110px;
          margin-right: 0px;
          border-radius: 18px;
          cursor: pointer;
}
.authModalRegisterBtn {
          background-color: #6D7993;
            color: black;
            font-weight: bold;
            border-radius: 18px;
            margin-top: 10px;
            text-align: center;
            cursor: pointer;
}

.authModalRegisterBtn:hover {
  background-color: #96858F;
          color: black;
          font-weight: bold;
          border-radius: 18px;
          text-align: center;
          margin-top: 10px;
          cursor: pointer;
}


        
        
        
       

        
   
